@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 1400px !important;
  /* background-color: rgb(108, 173, 42); */
}
.fs_list i {
  margin-right: 10px;
}

@media screen and (max-width: 400px) {
  .firstsection {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .firstsection {
    display: none;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #121d27;
}

nav ul a {
  color: white;
  margin-right: 20px;
  cursor: pointer;
}
nav ul {
  margin-top: 20px;
}

.bgcafe {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
.bgcafe h1 {
  font: normal normal normal 60px/69px Bellefair;
  letter-spacing: 1.2px;
  color: #c5a572;
  opacity: 1;
}

@media screen and (max-width: 400px) {
  .bgcafe {
    top: 155px;
  }
  .bgcafe h1 {
    font: normal normal normal 30px/69px Bellefair;
    letter-spacing: 1.2px;
    color: #c5a572;
    opacity: 1;
  }

  .herobg img {
    height: 30vh;
  }
}
@media screen and (max-width: 800px) {
  /* code */
}

.sl h1 {
  text-align: left;
  font: normal normal normal 22px/27px Montserrat;
  letter-spacing: 0.44px;
  color: #c5a572;
  text-transform: uppercase;
  opacity: 1;
}

.sl span {
  text-align: left;
  font: normal normal normal 60px/69px Bellefair;
  letter-spacing: 1.2px;
  color: #121d27;
  opacity: 1;
}

.sr p {
  text-align: left;
  font: normal normal medium 20px/37px Montserrat;
  letter-spacing: 0.4px;
  color: #000000;
  opacity: 0.59;
}

.s1 {
  background: #f4eee4 0% 0% no-repeat padding-box;
  opacity: 1;
  justify-items: center;
  padding: 27px;
}

.s1 h1 {
  text-align: center;
  font: normal normal normal 50px/40px Bellefair;
  letter-spacing: 0px;
  color: #121d27;
  opacity: 1;
  margin-top: 20px;
  margin-bottom: 20px;
}

.s1 p {
  text-align: center;
  font: normal normal medium 20px/31px Montserrat;
  letter-spacing: 0.4px;
  color: #000000;
  opacity: 0.6;
}
@media screen and (max-width: 400px) {
  .servicescontent {
    grid-template-columns: 100%;
  }
  .serviceslist {
    grid-template-columns: 100%;
  }
}
@media screen and (max-width: 800px) {
  /* code */
}

.readmorebg {
  background: #121d27 0% 0% no-repeat padding-box;
  opacity: 0.83;
}

.readmoremainbg {
  background-image: url(/Assets/services/servicesbg.png);
  height: 100%;
  object-fit: cover;
}

.readmoremainbg button {
  background: #ffffff00 0% 0% no-repeat padding-box;
  border: 1px solid #ffffff;
  opacity: 1;
  color: white;
}

.overlay {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #121d27ad 0% 0% no-repeat padding-box;
  opacity: 1;
}

.overlay h1 {
  text-align: center;
  font: normal normal normal 40px/70px Bellefair;
  letter-spacing: 0px;
  text-transform: capitalize;
  opacity: 1;
}

.overlay button {
  top: 4824px;
  left: 757px;
  width: 157px;
  height: 53px;
  /* UI Properties */
  background: #ffffff00 0% 0% no-repeat padding-box;
  border: 1px solid #ffffff;
  opacity: 1;
  color: white;
}

@media screen and (max-width: 400px) {
  .overlay {
    top: 0px;
  }
  .overlay h1 {
    text-align: center;
    font: normal normal normal 20px/40px Bellefair;
    letter-spacing: 0px;
    text-transform: capitalize;
    opacity: 1;
  }
  .readmoremainbg {
    object-fit: none;
  }
  .readimage {
    height: 35vh;
  }
  .rc {
    width: 53vh;
  }
  .rc button {
    margin-top: 20px;
  }
}
@media screen and (max-width: 800px) {
  /* code */
}

.tourcontent h1 {
  text-align: center;
  font: normal normal normal 22px/27px Montserrat;
  letter-spacing: 0.18px;
  color: #c5a572;
  text-transform: uppercase;
  opacity: 1;
}
.tourcontent h2 {
  text-align: center;
  font: normal normal normal 45px/60px Bellefair;
  letter-spacing: 0px;
  color: #121d27;
  text-transform: capitalize;
  opacity: 1;
}
@media screen and (max-width: 400px) {
  .tourimage {
    grid-template-columns: 100%;
  }
}
@media screen and (max-width: 800px) {
  /* code */
}

.contact h1 {
  text-align: center;
  font: normal normal normal 22px/27px Montserrat;
  letter-spacing: 0.18px;
  color: #c5a572;
  text-transform: uppercase;
  opacity: 1;
}

.contact h2 {
  text-align: center;
  font: normal normal normal 45px/65px Bellefair;
  letter-spacing: 0px;
  color: #000000;
  text-transform: capitalize;
  opacity: 1;
  margin-top: 20px;
}

.contact p {
  text-align: center;
  font: normal normal medium 20px/37px Montserrat;
  letter-spacing: 0.4px;
  color: #121d27;
  opacity: 0.59;
  margin-top: 15px;
}

.contact button {
  text-align: center;

  top: 6133px;
  width: 167px;
  height: 43px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #c5a572;
  opacity: 1;
  color: #c5a572;
}

@media screen and (max-width: 400px) {
  /* code */
}
@media screen and (max-width: 800px) {
  /* code */
}

.new {
  border-top: 1px dashed #c5a572;
  width: 20%;
  margin-top: 40px;
}

.footerbg {
  background-image: url(/Assets/footerbg.png);
}
.footer {
  background: #121d27ed 0% 0% no-repeat padding-box;
  opacity: 1;
}

.f_c h1,
i {
  text-align: left;
  font: normal normal medium 25px/32px Montserrat;
  letter-spacing: 0.63px;
  color: #c5a572;
  opacity: 1;
}
.f_c p {
  text-align: left;
  font: normal normal normal 15px/27px Montserrat;
  letter-spacing: 0.38px;
  color: #ffffff;
  opacity: 0.65;
}

.f_s h1 {
  text-align: left;
  font: normal normal medium 25px/32px Montserrat;
  letter-spacing: 0.63px;
  color: #c5a572;
  opacity: 1;
}
.f_s ul {
  text-align: left;
  font: normal normal normal 15px/27px Montserrat;
  letter-spacing: 0.38px;
  color: #ffffff;
  opacity: 0.65;
}
.f_h h1 {
  text-align: left;
  font: normal normal medium 25px/32px Montserrat;
  letter-spacing: 0.63px;
  color: #c5a572;
  opacity: 1;
}
.f_h span {
  text-align: left;
  font: normal normal normal 15px/27px Montserrat;
  letter-spacing: 0.38px;
  color: #ffffff;
  opacity: 0.65;
}

.f_n button {
  background-color: #c5a572;
}

.f_n h1 {
  text-align: left;
  font: normal normal medium 25px/32px Montserrat;
  letter-spacing: 0.63px;
  color: #c5a572;
  opacity: 1;
}

.f_n p {
  text-align: left;
  font: normal normal normal 15px/27px Montserrat;
  letter-spacing: 0.38px;
  color: #ffffff;
  opacity: 0.65;
}

.f_r p {
  font: normal normal normal 15px/27px Montserrat;
  letter-spacing: 0.38px;
  color: #ffffff;
  opacity: 0.65;
}

@media screen and (max-width: 400px) {
  .footerlist {
    grid-template-columns: 100%;
    text-align: center;
  }
  .border-r-2,
  .border-dashed {
    border: none;
  }
  .footerlist {
    text-align: center;
  }
}
@media screen and (max-width: 800px) {
  /* code */
}
